 .card-container{
    display: flex;
    gap: 20px;
 }
 .watch-1 img{
width: 100%;
border-radius: 5px;
}
.watch-1{
    background-color: rgb(170, 200, 210);
    width: 200px;
    border: 2px solid rgb(216, 136, 122);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px rgb(200, 190, 190);
}
.btn{
    background-color: rgb(229, 109, 88);
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid wheat;
    cursor: pointer;

}
button:hover{
    background-color: rgb(176, 172, 172);
}