
nav ul {
    display: flex;
    justify-content: space-between;
}
nav li{
    list-style: none;
    margin-right: 10px;
}
nav ul a{
    text-decoration: none;
    color: black;
}
nav li:hover{ 
    background-color: lightcyan;
}
